@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.nav_bg {
    position: fixed;
    top: 0%;
    width: 100%;
    background: rgb(0,0,0);
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(17,17,17,0.4766281512605042) 100%);
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    position: sticky;
}
.nav-link{
    font-family: 'Jost', sans-serif;
}
.dropdown-menu{
    font-family: 'Jost', sans-serif;
}

.btn{
    background-color: none;
    border-color: transparent;
    color: white;
    font-family: 'Jost', sans-serif;
}
.btn:hover{
    background-color: #ffffff;
    border-color: transparent;
    color: rgb(0, 0, 0);
}
.form-control::placeholder{
    color: #8b8b8b85;
    font-family: 'Jost', sans-serif;
}
.hero{
    top: 0%;
    background-image: url(../img/backgoundinicio.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text{
    width: 40%;
    font-size: 70px;
    padding: 0px !important;
}

.text a{
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    font-size: 18px;
    background-color: white;
    border: 2px solid;
    border-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: all 0.3s;
    border-radius: 2px;
}
.text a:hover{
    background-color: black;
    color: white;
    border-color: black;
}
.form-control{
    background-color: transparent;
}
.text p{
    text-shadow: 1px 1px 2px black;
    color: white;
    font-family: 'Lobster Two', cursive;
}
.contain_item h2{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    text-align: center;
    color: #735751;
}
.contain_item h3{
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #BD8C81;
}
.contain_item h1{
    margin-top: 70px;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    text-align: center;
    color: #735751;
}
.catalog p{
    font-family: 'Jost', sans-serif;
    margin-left: 40px;
}
.grid_image{
    display: flex;
    justify-content: center;
}
.gridcontainer{
    height: 600px;
    width: 900px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr) ;
    grid-template-areas: 
        "grid_item1 grid_item2 grid_item5 grid_item5"
        "grid_item1 grid_item2 grid_item5 grid_item5"
        "grid_item1 grid_item2 grid_item5 grid_item5"
        "grid_item3 grid_item4 grid_item5 grid_item5"
        "grid_item3 grid_item4 grid_item5 grid_item5"
        "grid_item3 grid_item4 grid_item5 grid_item5";
}
.grid{
    max-width: 100%;
}
.grid p{
    display: flex;
    color: transparent;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.grid p:hover{
    color: rgb(0, 0, 0);
    font-size: 25px;
    opacity: 1;
}
.grid{
    padding: 10px !important;
    margin: 10px;
    transition: 0.5s;
}
.grid:hover{
    opacity: 0.5;

}

.grid_item1{
    max-width: 100%;
    width: 100%;
    display: flex;
    grid-area: grid_item1;
    background-image: url(../img/oreo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
    border: 5px solid white;
}
.grid_item2{
    border: 5px solid white;
    max-width: 100%;
    width: 100%;
    display: flex;
    grid-area: grid_item2;
    background-image: url(../img/grid2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
}
.grid_item3{
    max-width: 100%;
    width: 100%;
    display: flex;
    grid-area: grid_item3;
    background-image: url(../img/medialunas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
    border: 5px solid white;
}
.grid_item4{
    border: 5px solid white;
    max-width: 100%;
    width: 100%;
    display: flex;
    grid-area: grid_item4;
    background-image: url(../img/pacakes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
}
.grid_item5{
    border: 5px solid white;
    max-width: 100%;
    width: 100%;
    display: flex;
    grid-area: grid_item5;
    background-image: url(../img/snikers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
}
.button{
    display: flex;
    justify-content: center;
}
.button a{
    display: flex;
    height: 30px;
    width: 100px;
    margin: 30px 0 10px 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    transition: all 1s;
}
.button a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.var_item{
    display: flex;
    align-items: center;
    text-align: center;
}
.var_item img{
    height: 200px;
    width: 200px;
}
.text_other h2{
    font-family: 'Dancing Script', cursive;
    color: #735751;
    font-size: 50px;
}
.form_new h1{
    font-family: 'Jost', cursive;
    text-align: center;
}
.form_new_1 input{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.342);
}
.container_form{
    background-image: url(../img/registrate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center ;
    align-items: center;
    width: 100%;
    height: 400px;
    color: white !important;
}
.info_adc {
    font-family: 'Jost',curisve;
    font-size: 15px;
    color: black;
    margin: 40px;
}
.info_adc h3{
    font-size: 18px;
}
.info_adc img{
    height: 40px;
    width: 40px;
}
.dad_info{
    height: 300px;
}
.title_border{
    font-family: 'Dancing Script', cursive;
}
.bg_color{
    background-image: url(../img/bg-form.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    
}
.user_container{
    top: 0%;
}

.user_form h1{
    font-family: 'Dancing Script', cursive;
}
.user_form h2{
    font-family: 'Jost', sans-serif;
}
.user_form{
    margin-top: 100px;
    height: 90vh;
    width: 70%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.918);
}
.drop_cart{
    z-index: 3;
    background-image: url(../img/carrito.jpg);
}
.button_shop{
    background-color: rgba(78, 78, 78, 0.637);
}
.button_shop:hover{
    background-color: rgba(173, 173, 173, 0.281);
}
.button_cart:hover{
    background-color: rgba(49, 49, 49, 0.514);
}
.btn_tienda a{
    text-decoration: none;
    color: black;
}
.btn_tienda{
    color: black;
}
.shop_btn_tiend a{
    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;
}
.shop_btn{
    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;
}
.shop_btn:hover{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.767);
}
.shop_btn_tiend:hover{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.767);
}
.bg_tienda{
    background-image: url(../img/container_tienda.jpg);
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    
}

.bg_tienda{
    font-family: 'Lobster Two', cursive;
}
.shop_bg{
    width: 40%;
    margin-left: 30px;
    text-align: center;
}
.shop_bg h1{
    color: rgb(180, 140, 102);
    text-shadow: #CCC 1px 0 10px;
    font-size: 55px;
}
.shop_bg h2{
    color: #745d49;
    text-shadow: #CCC 1px 0 10px;
    font-size: 35px;
}
.text_shop{

    font-family: 'Jost', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: #CCC 1px 0 10px;
    font-size: 55px;
}
.tags_btn_A{
        background-color: #ff7c67;
        font-size: 15px ;
        width: 80px;
        height: 40px;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid transparent;
        border-radius: 5px;
        
}
.tags_btn_A p{
    display: flex;
    align-items: center;
    margin: 0px !important;
}
.tags_btn_B{
    background-color: #ff7c67;
    font-size: 15px ;
    width: 80px;
    height: 40px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 5px;
    
}
.tags_btn_B p{
display: flex;
align-items: center;
margin: 0px !important;
}
.container_shop{
    background-image: url(../img/background.jpg);
}
.categorias_shop{
    background-color: white;
    border-left: gray;
}
.categorias_shop_left{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.categories{
    font-family: 'Jost', sans-serif;
}
.article{
    padding: 10px;
    height: 290px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.2s;
}
.article:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.article a{
    text-decoration: none;
    color: black;
}
.article_desc{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.precio{
    font-size: 15;
}
.btn_art{
    background-color: #faafa4;
    transition: 0.1s;
}
.btn_art_rang{
    background-color: #faafa4;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    transition: 0.1s;
}
.btn_art_rang a{
    color: white;
}
.btn_art_rang a:hover{
    color: rgb(0, 0, 0);
}
.btn_art_rang:hover{
    background-color: white;
}
.disable_btn a{
    color: black;
}
.bg-nav{
    position: fixed;
    width: 100% ;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 87%, rgba(255,255,255,1) 100%);
}
